@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}



/* Shared styles start here */
* {
    margin: 0;
}

.bg-color1 {
    background: rgba(255, 144, 14, 0.1);
}

.orange {
    color: #FF900E;
}

.dark-light {
    color: #727272;
}

.dark-high {
    color: #131313;
}

/*Header styles start here */

/*nav styles start here*/
.nav-section {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;

    color: var(--Dark 02, rgba(66, 66, 66, 1));
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0%;

}

.brand {
    color: var(--Dark 01, rgba(19, 19, 19, 1));
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0%;
}

/*Nav styles end here*/

/* Banner section styles start here*/
.banner-section {
    max-width: 1024px;
    margin: 0 auto;
}

.banner-info {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
}

.banner-description {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;

}

.btn-primary {
    padding: 10px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFFFFF;
    border-style: none;
    margin-bottom: 30px;
}

.banner-section img {
    width: 100%;
    margin-bottom: 30px;
}

/*banner section styles end here*/
/*Header styles end here*/


/*main styles start here*/
/*quick section styles start here */

.quick-section {
    display: flex;
    align-items: center;
    max-width: 1024px;
    margin: 60px auto;
}

.list-image-box {
    max-width: 450px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.list-image-box img {
    width: 100%;

}

.list-info-box {
    max-width: 450px;
    margin-left: 30px;
}

.list-title {
    font-family: "Work Sans", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;

}

.list-description {
    font-family: "Work Sans", sans-serif;
    color: var(--Dark 03, rgba(114, 114, 114, 1));
    font-family: ;
    font-size: 1rem;
    font-weight: 400;
    margin: 22px 0;
}

/* quick section styles end here */

/* features section styles start here */
.features-section {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    gap: 100px;

}

.features-column {
    width: 50%;
}

.features-section-title {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 18px;
    margin-bottom: 18px;
}

.features-section-description {
    margin-bottom: 20px;
}

.features-section-description,
.features-card-description,
.fact-description {
    color: var(--Dark 03, rgba(114, 114, 114, 1));
    font-family: "Work Sans", sans-serif;
    font-size: .80rem;
    font-weight: 400;
    letter-spacing: 0;
}

.features-card {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
}

.features-card-title {
    font-family: "Work Sans", sans-serif;
    font-size: 1.20rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.features-section img {
    width: 100%;

}


#badge {
    font-size: 1.25rem;
    font-weight: 700;
}

#btn-badge {
    padding: 25px 30px;
    margin-left: -50px;
    margin-top: -40px;
}

/* feature section styles end here */

/*S0me fact section styles start here*/

.fact-section {
    max-width: 1024px;
    margin: 0 auto;
}

.fact-title {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.fact-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;

}

.fact-item {

    padding: 40px 30px 40px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fact-item img {
    width: 25px;
    height: 25px;
}

/* Fact section styleend here */

/* Sponsor and footer section style start start here */

.footer-section {
    max-width: 1024px;
    margin: 0 auto;
}

.sponsor-title {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.sponsor-description {
    color: var(--Dark 03, rgba(114, 114, 114, 1));
    font-family: "Work Sans", sans-serif;
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
}

.sponsor-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sponsor-icon img {
    width: 110px;
    height: 40px;

}

.footer-text {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 30px 0;
    margin: 100px 0;
    border-radius: 8px;
    background: rgba(255, 244, 231, 1);
}
/* footer styles end here */

/*Responsive media styles start here */
/* mobile */

@media screen and (max-width:576px) {

    .nav-section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-links {
        gap: 20px;
    }

    .brand {
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
        margin: 20px 0;
    }

    .banner-description {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .banner-section img,
    .list-image-box img,
    .features-section img {
        width: 100%;
    }

    .quick-section {
        flex-direction: column-reverse;
    }

    .list-image-box {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .list-info-box {
        margin: 0;
    }

    .features-section {
        flex-direction: column;
        margin: 0 20px;
    }

    .features-column {
        width: 100%;
    }

    .features-card {
        margin: 20px;
    }

    #btn-badge {
        margin-top: -50px;
        margin-left: 50px;
    }
    .fact-title,
    .fact-description{
        text-align: center;
    }
   
    .fact-container{
        display: grid;
        gap: 20px;
        margin: 20px 0px;
    }

    .sponsor-icon{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

/* Responsive for tablet*/

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .nav-links {
        gap: 40px;
    }

    .banner-title {
        font-size: 2.5rem;
        margin-top: 20px;
    }

    .banner-description {
        margin: 20px;
    }

    .banner-section img,
    .list-image-box img {
        width: 100%;
    }

    .list-info-box {
        margin: 40px auto;
    }

    .quick-section {
        flex-direction: column-reverse;
    }

    .features-section {
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin: 0 30px;
    }
    .fact-section{
        margin: 30px 30px;
    }
    .fact-container{
        margin-top: 20px;
    }
    .sponsor-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    }
}